:root {
  --pri: #000000;
  --accent: #ff9100;
  --btn: #a3691d;
  --comp: rgba(255, 255, 255, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  color: var(--accent);
}
nav {
  min-height: 60px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--pri);
  z-index: 1;
}
.menu {
  height: 45px;
  width: 45px;
  background: var(--accent);
  border-radius: 30%;
  display: none;
  place-items: center;
  cursor: pointer;
  z-index: 5;
}
.menu .bar {
  height: 2px;
  width: 25px;
  background: black;
  transition: 0.5s ease;
}
.menu .bar::before,
.menu .bar::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 25px;
  background: black;
  transition: 0.5s ease;
}
.menu .bar::before {
  transform: translateY(-6px);
}
.menu .bar::after {
  transform: translateY(6px);
}
.menu.open .bar {
  background: none;
}
.menu.open .bar::before {
  transform: rotate(45deg);
}
.menu.open .bar::after {
  transform: rotate(-45deg);
}
.nav-btns {
}
/* HIDE MAIN BTNS IF WINDOW SCREEN IS SMALLER */
@media (max-width: 700px) {
  .nav-btns {
    display: none;
  }
  .menu {
    display: grid;
    position: fixed;
    top: 15px;
    right: 15px;
  }
}
/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  background: white;
  /* z-index: 2; */
  transition: 0.5s ease-in-out;
}
.sidebar.show {
  right: 0;
}
.sidebar #buttons {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(20px);
}
.sidebar #buttons button {
  padding: 35px;
  font-size: 1.5em;
  display: block;
  background: none;
  color: var(--pri);
  width: 100%;
}
.sidebar #buttons button:hover {
  background: rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 1.5em;
}
.app-main {
  margin-top: 60px;
  background: var(--pri);
  /* background: (); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #faf8ff;
  padding: 1em;
  min-height: 100vh;
}
.missions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: var(--accent);
}
.mission {
  backdrop-filter: blur(50%);
  margin: 20px 0;
  background: var(--comp);
  padding: 15px;
  border-radius: 25px;
}
.mission a {
  text-align: center;
}
p {
  margin: 0.8em;
}
#description {
  max-width: 500px;
}
#bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
#wiki {
  padding: 8px 15px;
  background: var(--btn);
  color: #fff;
  border-radius: 15px;
  margin: 8px 3.5em;
  display: block;
}
.footer {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .contact {
  display: flex;
}
.footer i {
  font-size: 2em;
  margin-right: 0.5em;
}
#search {
  margin: 50px;
  background: none;
  border: none;
  border-bottom: 2px solid var(--accent);
  padding: 5px;
  color: #faf8ff;
  outline: none;
}
#search::placeholder {
  color: #faf8ff;
}
.show {
  /* display: flex; */
}
.hide {
  display: none;
}
#buttons {
  position: absolute;
  top: 20px;
  right: 15px;
}
#buttons button {
  padding: 5px 15px;
  background: var(--accent);
  margin-right: 5px;
  border: none;
  color: #faf8ff;
  cursor: pointer;
}
/* HISTORY */
.history {
  background: var(--comp);
  padding: 2em;
  border-radius: 15px;
  max-width: 450px;
}
.history h3 {
  color: var(--accent);
}
